body {
  display: flex;
}

#navbar {
  width: 300px;
  height: 100vh;
  padding-top: 30px !important;
  background-color: #287cff !important;
}

.logo-img {
  fill: white;
}

.funciones>li .activado{
  display: flex;
  width: 284px;
  height: 66px;
  margin: 60.3px 0 30px;
  padding: 0 0 0 14.4px;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
}
.funciones>li .desactivado{
  display: flex;
  width: 284px;
  height: 66px;
  margin: 60.3px 0 30px;
  padding: 0 0 0 14.4px;
  border-radius: 10px;
  background-color: #287cff;
  color: white;
}

.gestion {
  background-color: transparent;
  color: #287cff;
  font-size: 22px;
  font-weight: bold;
  border: none;
}

.content {
  flex-grow: 1;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 40px;
}

h2 {
  width: 100%;
  height: 37px;
  margin: 0 211px 13px 0;
  font-family: "Roboto";
  font-size: 30px;
  text-align: left;
  color: #222;
}
.titulo {
  align-items: center;
}

#arrow {
  color: #287cff;
  font-size: 30px;
  margin-right: 25px;
}

#Salir {
  color: white;
  font-size: 40px;
}
.outCont {
  display: flex;
  text-align: center;
  margin-bottom: 25px;
  justify-content: center;
}
.outCont > h3 {
  color: white;
}

.modificar {
  width: 100%;
  height: 187px;
  margin: 27px 0 0;
  padding: 53px 23px 26px;
  border-radius: 7px;
  border: solid 1px #287cff;
  background-color: #fff;
  position: relative;
}

#dataCont{
    justify-content: space-around;
}
.datos{
    text-align: center;
    width: 100px;
    background-color: white;
    position: absolute;
    bottom: 162px;
    left: 60px;
    z-index: 20;
}

.input-editar-usuario{
    border: solid 1px #287cff;
    border-radius: 5px;
    width: 80%;
}

.campo-nombre{
    flex-grow: 1;

}
.campo-correo{
    flex-grow: 1;
}


.guardar{
    height: 50px;
    width: 120px;
    display:block;
    margin-top: 25px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: #00e517;
    float:right;
    font-family: 'Roboto';
    text-align: center;
    font-size: 20px;
}

.page-link span{
  color: #0d6efd;
}
