<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/reservaStyle.css">
    <title>Reservar Habitacion</title>
</head>

<body>
    <main class="reserva-header d-flex justify-content-center align-items-center">
        <div class="container">

            <div class="row d-flex justify-content-center align-items-center" style="height: 500px;">
                <div class=" reserva-body text-center mx-3">
                    <a href="/"><img class="logo" src="static/assets/Gevora_Hotel_Logo.svg"></a>
                    <form class="reserva-form px-5 py-3 me-2" action="/reserva" method="post">
                        <div class="row text-start align-self-center ">
                            <div class="col-5 ">
                                <label for="fechaEntrada" class="reserva-label mb-2 text-capitalize">Fecha de entrada</label>
                                <input type="date" class="form-control bg-light mt-0" id="fechaEntrada"
                                    name="fecha_entrada" placeholder="Fecha Entrada" />
                            </div>
                            <div class="col-5">
                                <label for="fechaSalida" class="reserva-label mb-2 text-capitalize">Fecha de salida</label>
                                <input type="date" class="form-control bg-light mt-0" id="fechaSalida"
                                    name="fecha_salida" placeholder="Fecha Salida" />
                            </div>
                            <button class="btn reserva-boton col-2 mt-4" type="submit">Buscar</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>

    </main>
    <h2 class="text-center fs-1 mt-3">Habitaciones Disponibles para {{ current_user.nombre }}</h2>
    <div class="reserva-resultados d-flex justify-content-center align-items-center">               
        <div class="container w-75 m-3">  
            {% for x in items["Habitaciones"] %}
            <div class="reserva-resultado card text-bg-light mb-5">
                <div class="row m-4 g-0">
                    <div class=" col-md-6 ">
                        <div class="card-body">
                            <h5 class="card-title fw-bold mb-4">Habitación {{ x["_id"] }}</h5>
                            <p class="habitacion-body" style="width: 28rem;">{{ x["descripcion"] }}</p>
                        </div>
                    </div>
                    <div class=" col-md-6 d-flex align-items-center">
                        <div class="d-block text-center card-body">                            
                            <p class="card-text ">1 noche, 1 adulto</p>
                            <h5 class="card-title fs-2 text-success">${{ formato_moneda(x["precio"], locale='de_DE') }}</h5>
                        </div>
                        <div class="d-block justify-content-center">
                            <a href="#" class="boton btn btn-lg">Seleccionar</a>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}      
            <!-- <div class="reserva-resultado card text-bg-light mb-5">
                <div class="row m-4 g-0">
                    <div class=" col-md-6 ">
                        <div class="card-body">
                            <h5 class="card-title fw-bold mb-4">Habitación 1</h5>
                            <p class="habitacion-body" style="width: 28rem;">Hermosa habitación con cama King size, pisos en
                                mármol,
                                paredes enchapadas en madera, escritorio de trabajo, automatización en iluminación y
                                blackout
                                para garantizar una noche placentera como tú te lo mereces.</p>
                            <h6 class="card-subtitle mb-2 text-success">Incluye desayuno</h6>
                        </div>
                    </div>
                    <div class=" col-md-6 d-flex align-items-center">
                        <div class="d-block text-center card-body">                            
                            <p class="card-text ">1 noche, 1 adulto</p>
                            <h5 class="card-title fs-2 text-success">$1.100.000</h5>
                        </div>
                        <div class="d-block justify-content-center">
                            <a href="#" class="boton btn btn-lg">Seleccionar</a>
                        </div>

                    </div>
                </div>
            </div> -->
            <!-- <div class="reserva-resultado card text-bg-light mb-5">
                <div class="row m-4 g-0">
                    <div class=" col-md-6 ">
                        <div class="card-body">
                            <h5 class="card-title fw-bold mb-4">Habitación 2</h5>
                            <p class="habitacion-body" style="width: 28rem;">Hermosa habitación con cama King size, pisos en
                                mármol,
                                paredes enchapadas en madera, escritorio de trabajo, automatización en iluminación y
                                blackout
                                para garantizar una noche placentera como tú te lo mereces.</p>
                            <h6 class="card-subtitle mb-2 text-success">Incluye desayuno</h6>
                        </div>
                    </div>
                    <div class=" col-md-6 d-flex align-items-center">
                        <div class="d-block text-center card-body">
                            <p class="card-text ">1 noche, 1 adulto</p>
                            <h5 class="card-title fs-2 text-success">$1.100.000</h5>                            
                        </div>
                        <div class="d-block justify-content-center">
                            <a href="#" class="boton btn btn-lg">Seleccionar</a>
                        </div>

                    </div>
                </div>
            </div> -->
            <!-- <div class="reserva-resultado card text-bg-light mb-5">
                <div class="row m-4 g-0">
                    <div class=" col-md-6 ">
                        <div class="card-body">
                            <h5 class="card-title fw-bold mb-4">Habitación 3</h5>
                            <p class="habitacion-body" style="width: 28rem;">Hermosa habitación con cama King size, pisos en
                                mármol,
                                paredes enchapadas en madera, escritorio de trabajo, automatización en iluminación y
                                blackout
                                para garantizar una noche placentera como tú te lo mereces.</p>
                            <h6 class="card-subtitle mb-2 text-success">Incluye desayuno</h6>
                        </div>
                    </div>
                    <div class=" col-md-6 d-flex align-items-center">
                        <div class="d-block card-body text-center">
                            <p class="card-text fs-6 ">1 noche, 1 adulto</p>
                            <h5 class="card-title fs-2 text-success text">$1.100.000</h5>                           
                        </div>
                        <div class="d-block justify-content-center">
                            <a href="#" class="boton btn btn-lg">Seleccionar</a>
                        </div>

                    </div>
                </div>
            </div> -->
            <div class="text-bg-light mb-5">
                <div class="row m-4 g-0">
                    <div class=" col-md-6 ">
                        <div class="card-body">
                            <h5 class="card-title fw-bold mb-4 fs-2">Detalles de la Reserva</h5>
                            <div class="d-block">
                                <h2 class="fw-bold d-inline fs-5">Fecha de Ingreso </h2>
                                <h3 class="d-inline fs-5 ms-1"> 22/07/2022</h3>
                            </div>
                            <div class="d-block">
                                <h2 class="fw-bold d-inline fs-5">Fecha de Salida </h2>
                                <h3 class="d-inline fs-5 ms-1"> 25/07/2022</h3>
                            </div>  
                            <h6 class="card-subtitle mb-2 text-success">1 Habitacion, 3 Noches</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body ">
                            <div class="d-flex justify-content-end">
                                <p class="card-text fs-2 ">Total a Pagar</p>
                            </div>
                            <div class="d-flex justify-content-end "> 
                                <h5 class="card-title fs-3 text-success text">$1.100.000</h5>
                            </div>  
                            <div class="d-flex justify-content-end">
                                <button class="boton-pagar btn btn-lg">Pagar</button>  
                            </div>                          
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>